.g-center-text {text-align: center}
.g-margin-bottom-small {margin-bottom: 1.5rem;}
.g-margin-bottom-medium {margin-bottom: 4rem;}
.g-margin-bottom-large {margin-bottom: 8rem;}
.g-margin-top-large {margin-top: 10rem;}